@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Encode Sans', sans-serif;
}
h1{
    font-family: 'Jost', sans-serif;
}
.titleheader{
    display: flex;
    justify-content: center;
    height: 100px
}
#indexproducts{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}
.perproduct{
    text-align: center;
    width: 33%;
    min-height: 500px;
    display: inline-block;
}
ul{
    list-style-type: none;
}
.headermenu{
    height: 60px;
    background-color: black;
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    display: flex;
    padding: 10px;
    z-index: 1;
    
}
#storemenuitem{
    margin-right: 60px;
    color: orange
}
.menulink{
    color: inherit;
    text-decoration: none;
    
}
.menulink:visited {
    text-decoration: none;
}
  
.menulink:hover {
    text-decoration: none;
    color:orange
}
  
.menulink:active {
    text-decoration: underline;
}
#showpagecontainer{
    display: flex;
    
}
#imageshowpage{
    display: flex;
    justify-content: center;
    height:600px;
    width: 50%;
    
    margin-top: 30px;
}
#productinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 20px;
    font-size: 30px;
}
button{
    width: 100px
}
#editbutton:hover{
    color: black;
}
#productprice{
    margin-top: 20px;
    margin-bottom: 20px;
}
#productinventory{
    margin-top: 20px;
    margin-bottom: 20px;
}
#newform{
    padding: 10px
}
#purchasebutton{
    background-color: orange;
    color: black;
    height: 80px;
    width: 40%;
    margin-bottom: 100px;
}
#purchasebutton:hover{
    background-color: darkorange;
    color:white;
    cursor: pointer;
}
#deletebutton:hover{
    cursor: pointer;
}
#purchasemaincontainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin-left: 400px;
    margin-right: 400px
}
#thankyouimg{
    margin-left: 160px;
}
#thankyoumsg{
    font-size: 40px;
    padding: 15px
}
#purchasemsgbtn{
    background-color: orange;
    color: black;
    height: 80px;
    width: 400px
}
#purchasemsgbtn:hover{
    background-color: darkorange;
    color:white;
    cursor: pointer;
}
#outofstock{
    background-color: gray;
    color: white;
    height: 80px;
    width: 40%;
    margin-bottom: 100px;
}
